[MASTER]

# List of plugins (as comma separated values of python modules names) to load,
# usually to register additional checkers.
load-plugins=pylint.extensions.docparams,pylint.extensions.docstyle

# Options for pylint.extensions.docparams
accept-no-param-doc=no
accept-no-raise-doc=no
accept-no-return-doc=no

# Parallel jobs
jobs=0

# Reports
reports=y

max-line-length=79

fail-under=4.59


[SIMILARITIES]
ignore-imports=yes
