[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
appdaemon = ">=4.0.0"
mock = "*"
coverage = "*"

[dev-packages]
pytest = ">=5.3.4"
pytest-watch = "*"
pylint = "*"
"autopep8" = "*"
tox = "*"
mock = "*"

[requires]
python_version = "3.8"
