[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
appdaemon = "*"
mock = "*"
pylint = "*"
"autopep8" = "*"
pytest = "*"
pytest-watch = "*"

[dev-packages]

[requires]
python_version = "3.6"
