[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
appdaemontestframework = {editable=true, path="."}

[dev-packages]
coverage = "*"
pytest = "*"
pytest-asyncio = "*"
pytest-watch = "*"
pylint = "*"
"autopep8" = "*"
tox = "*"

[requires]
python_version = "3.8"
